In [1]:
import pandas as pd
import numpy as np
import sys

from typing import List
from pandas import DataFrame
from pathlib import Path
import string

In [2]:
sys.executable

'C:\\Users\\rhoBB\\Anaconda3\\python.exe'

In [3]:
from enum import Enum

In [4]:
class CategoriePrevente(Enum):
    
    NORMALE__PREVENTE = ("normale", "en pré-vente", 20)
    NORMALE__SUR_PLACE = ("normale", "sur place", 25)
    ETUDIANT__PREVENTE = ("étudiant", "en pré-vente", 10)
    ETUDIANT__SUR_PLACE = ("étudiant", "sur place", 15)
    
    def __init__(
        self, 
        categorie_name,
        sale_place_name,
        sale_price, 
    ):
        self.categorie_name = categorie_name
        self.sale_place_name = sale_place_name
        self.sale_price = sale_price
    
    
    def __repr__(self):
        phr = f"Catégorie {self.categorie_name}, vendu {self.sale_place_name} --> tarif = {self.sale_price} €"
        return phr

In [5]:
for elem in CategoriePrevente:
    print(elem)

CategoriePrevente.NORMALE__PREVENTE
CategoriePrevente.NORMALE__SUR_PLACE
CategoriePrevente.ETUDIANT__PREVENTE
CategoriePrevente.ETUDIANT__SUR_PLACE

In [6]:
j = CategoriePrevente.NORMALE__PREVENTE
j

Catégorie normale, vendu en pré-vente --> tarif = 20 €

In [7]:
class Concert(Enum):
    VENDREDI = (17, "20h30", "Eglise Luthérienne Saint-Marcel", "24 Rue Pierre Nicole, 75.005 Paris")
    SAMEDI = (18, "20h30", "Eglise Saint-Louis-en-l’île", "19 Rue Saint-Louis-en-l’île, 75.004 Paris")
    DIMANCHE = (19, "18h00", "Eglise Saint-Louis-en-l’île", "19 Rue Saint-Louis-en-l’île, 75.004 Paris")
    
    def __init__(
        self,
        concert_day_number,
        concert_start_hour,
        concert_place,
        concert_place_address
    ):
        self.concert_day_number = concert_day_number
        self.concert_day = f"{self.name.title()} {self.concert_day_number} Juin 2022"
        self.concert_start_hour = concert_start_hour
        self.concert_time_info = f"{self.concert_day}, à {self.concert_start_hour}"
        self.concert_place = concert_place
        self.concert_place_address = concert_place_address
        self.concert_address = f"{self.concert_place} : {self.concert_place_address}"
    
    
    def __repr__(self):
        phr = f"Concert du {self.concert_day}\n{'heure':<6} : {self.concert_start_hour}\n{'Lieu':<6} : {self.concert_address}"
        return phr

In [8]:
for elem in Concert:
    print(elem)

Concert.VENDREDI
Concert.SAMEDI
Concert.DIMANCHE

In [9]:
Concert.VENDREDI

Concert du Vendredi 17 Juin 2022
heure  : 20h30
Lieu   : Eglise Luthérienne Saint-Marcel : 24 Rue Pierre Nicole, 75.005 Paris

In [10]:
class PersonneVenantAuConcert(object):
    
    def __init__(
        self,
        nom: str,
        categorie_prevente: CategoriePrevente,
        concert: Concert,
        nombre_places: int,
        need_enveloppe: bool,
        deja_regle: bool,
    ):
        self.nom = nom
        self.categorie_prevente = categorie_prevente
        self.concert = concert
        self.nombre_places = nombre_places
        self.need_enveloppe = need_enveloppe
        self.deja_regle = deja_regle
        self.total_price = self.nombre_places * self.categorie_prevente.sale_price
        self.dict_bool_french = {True: "OUI", False: "NON"}
        
    def _to_dataframe(self):
        data = {
            "prenom_NOM": self.nom,
            "nombre_places": self.nombre_places,
            "date_concert": self.concert.concert_day,
            "heure_concert": self.concert.concert_start_hour,
            "lieu_concert": self.concert.concert_place,
            "adresse_concert": self.concert.concert_place_address,
            "faire_enveloppe": self.dict_bool_french[self.need_enveloppe],
            "prix_total_a_payer": self.total_price,
            "deja_regle_a_moi": self.dict_bool_french[self.deja_regle],
        }
        data = {k: [v] for k, v in data.items()}
        df = pd.DataFrame(data)
        df.set_index("prenom_NOM", inplace=True)
        return df
    
    def __repr__(self):
        if self.nombre_places
        phr = f"{self.nom} vient le {self.concert.concert_time_info} et a acheté {self.nombre_place}"

In [11]:
monyrath = PersonneVenantAuConcert(
    nom="Monyrâth ENGLY",
    categorie_prevente=CategoriePrevente.NORMALE__PREVENTE,
    concert=Concert.SAMEDI,
    nombre_places=2,
    need_enveloppe=True,
    deja_regle=False,
)

joanne = PersonneVenantAuConcert(
    nom="Joanne BREITFELDER",
    categorie_prevente=CategoriePrevente.NORMALE__PREVENTE,
    concert=Concert.SAMEDI,
    nombre_places=2,
    need_enveloppe=True,
    deja_regle=False,
)

marco = PersonneVenantAuConcert(
    nom="Marco CORSO",
    categorie_prevente=CategoriePrevente.NORMALE__PREVENTE,
    concert=Concert.SAMEDI,
    nombre_places=2,
    need_enveloppe=True,
    deja_regle=True,
)

thomas = PersonneVenantAuConcert(
    nom="Thomas HEZARD",
    categorie_prevente=CategoriePrevente.NORMALE__PREVENTE,
    concert=Concert.VENDREDI,
    nombre_places=1,
    need_enveloppe=False,
    deja_regle=True,
)

In [12]:
monyrath._to_dataframe()

,nombre_places,date_concert,heure_concert,lieu_concert,adresse_concert,faire_enveloppe,prix_total_a_payer,deja_regle_a_moi
prenom_NOM,,,,,,,,
Monyrâth ENGLY,2,Samedi 18 Juin 2022,20h30,Eglise Saint-Louis-en-l’île,"19 Rue Saint-Louis-en-l’île, 75.004 Paris",OUI,40,NON

In [13]:
joanne._to_dataframe()

,nombre_places,date_concert,heure_concert,lieu_concert,adresse_concert,faire_enveloppe,prix_total_a_payer,deja_regle_a_moi
prenom_NOM,,,,,,,,
Joanne BREITFELDER,2,Samedi 18 Juin 2022,20h30,Eglise Saint-Louis-en-l’île,"19 Rue Saint-Louis-en-l’île, 75.004 Paris",OUI,40,NON

In [51]:
def build_excel(
    guest_list: List[PersonneVenantAuConcert],
    filename = "Francois_CHANEL_places_concerts_CSF_Juin_2022.xlsx",
    sheetname = "resume",
):
    dataframe_list = [p._to_dataframe() for p in guest_list]
    df = pd.concat(dataframe_list)
    
    number_columns = len(df.columns)+1
    number_rows = len(df.index)

    last_letter_used = string.ascii_uppercase[number_columns-1]
    col_name_to_letter = {df.index.name:'A'}
    col_name_to_letter.update({
        col_name: letter
        for col_name, letter in zip(
            df.columns,
            string.ascii_uppercase[1:]
        )
    })

    all_cells_until_price = f"$A$1:${col_name_to_letter['faire_enveloppe']}${number_rows}"
    cells_from_price_to_end = f"${col_name_to_letter['prix_total_a_payer']}$1:${last_letter_used}${number_rows}"

    bool_to_french = {True: "VRAI", "False": "FAUX"}

    criteria_need_enveloppe = f'=INDIRECT("{col_name_to_letter["faire_enveloppe"]}"&ROW())="OUI"'
    criteria_not_paid_yet = f'=INDIRECT("{col_name_to_letter["deja_regle_a_moi"]}"&ROW())="NON"'

    writer = pd.ExcelWriter(filename, engine='xlsxwriter')
    df.to_excel(writer, sheet_name=sheetname)  # send df to writer
    worksheet = writer.sheets[sheetname]  # pull worksheet object
    for idx, col in enumerate(df):  # loop through all columns
        series = df[col]
        max_len = max((
            series.astype(str).map(len).max(),  # len of largest item
            len(str(series.name))  # len of column name/header
            )) + 1  # adding a little extra space
        # iterating over df cols but there is an index
        worksheet.set_column(
            first_col=idx+1, 
            last_col=idx+1, 
            width=max_len,
        )  # set column width
    max_index_len = df.index.map(len).max()
    worksheet.set_column(0, 0, max_index_len +1)

    workbook  = writer.book
    format_need_enveloppe = workbook.add_format({
        'bg_color': '#00FFFF',
        'font_color': 'black',
    })
    format_not_paid_yet = workbook.add_format({
        'bg_color': '#FFFF00',
        'font_color': 'black',
    })
    worksheet.conditional_format(
        all_cells_until_price,
        options = {
            "type": "formula",
            "criteria": criteria_need_enveloppe,
            "format": format_need_enveloppe
        },
    )
    worksheet.conditional_format(
        cells_from_price_to_end,
        options = {
            "type": "formula",
            "criteria": criteria_not_paid_yet,
            "format": format_not_paid_yet,
        },
    )

    writer.save()  
    
    return df

In [52]:
df = build_excel([
    monyrath,
    joanne,
    marco,
    thomas,
])

In [53]:
df

,nombre_places,date_concert,heure_concert,lieu_concert,adresse_concert,faire_enveloppe,prix_total_a_payer,deja_regle_a_moi
prenom_NOM,,,,,,,,
Monyrâth ENGLY,2,Samedi 18 Juin 2022,20h30,Eglise Saint-Louis-en-l’île,"19 Rue Saint-Louis-en-l’île, 75.004 Paris",OUI,40,NON
Joanne BREITFELDER,2,Samedi 18 Juin 2022,20h30,Eglise Saint-Louis-en-l’île,"19 Rue Saint-Louis-en-l’île, 75.004 Paris",OUI,40,NON
Marco CORSO,2,Samedi 18 Juin 2022,20h30,Eglise Saint-Louis-en-l’île,"19 Rue Saint-Louis-en-l’île, 75.004 Paris",OUI,40,OUI
Thomas HEZARD,1,Vendredi 17 Juin 2022,20h30,Eglise Luthérienne Saint-Marcel,"24 Rue Pierre Nicole, 75.005 Paris",NON,20,OUI

In [36]:
# number_columns = len(df.columns)+1
# number_rows = len(df.index)

# last_letter_used = string.ascii_uppercase[number_columns-1]
# col_name_to_letter = {df.index.name:'A'}
# col_name_to_letter.update({
#     col_name: letter
#     for col_name, letter in zip(
#         df.columns,
#         string.ascii_uppercase[1:]
#     )
# })

# all_cells_until_price = f"$A$1:${col_name_to_letter['faire_enveloppe']}${number_rows}"
# cells_from_price_to_end = f"${col_name_to_letter['prix_total_a_payer']}$1:${last_letter_used}${number_rows}"

# bool_to_french = {True: "VRAI", "False": "FAUX"}

# criteria_need_enveloppe = f'=INDIRECT("{col_name_to_letter["faire_enveloppe"]}"&ROW())="OUI"'
# criteria_not_paid_yet = f'=INDIRECT("{col_name_to_letter["deja_regle_a_moi"]}"&ROW())="NON"'

# writer = pd.ExcelWriter(filename, engine='xlsxwriter')
# df.to_excel(writer, sheet_name=sheetname)  # send df to writer
# worksheet = writer.sheets[sheetname]  # pull worksheet object
# for idx, col in enumerate(df):  # loop through all columns
#     series = df[col]
#     max_len = max((
#         series.astype(str).map(len).max(),  # len of largest item
#         len(str(series.name))  # len of column name/header
#         )) + 1  # adding a little extra space
#     # iterating over df cols but there is an index
#     worksheet.set_column(
#         first_col=idx+1, 
#         last_col=idx+1, 
#         width=max_len,
#     )  # set column width
# max_index_len = df.index.map(len).max()
# worksheet.set_column(0, 0, max_index_len +1)

# workbook  = writer.book
# format_need_enveloppe = workbook.add_format({
#     'bg_color': '#00FFFF',
#     'font_color': 'black',
# })
# format_not_paid_yet = workbook.add_format({
#     'bg_color': '#FFFF00',
#     'font_color': 'black',
# })
# worksheet.conditional_format(
#     all_cells_until_price,
#     options = {
#         "type": "formula",
#         "criteria": criteria_need_enveloppe,
#         "format": format_need_enveloppe
#     },
# )
# worksheet.conditional_format(
#     cells_from_price_to_end,
#     options = {
#         "type": "formula",
#         "criteria": criteria_not_paid_yet,
#         "format": format_not_paid_yet,
#     },
# )

# writer.save()